*{margin:0;padding:0;}
ul,li{
  list-style: none;;
}
.hello-swiper{
  img{
    width:100%;
    display: block;
  }

  button{
    background: #4cd964;
    padding:10px;
    width:100%;
  }


  .react-swiper{
    margin: 20px;
  }
}
